
* {
    box-sizing: border-box;
  }

* {
    margin: 0 auto;
    padding: 0;
}

div {
    display: block;
}
ul {   margin: 0 auto;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

.logo img { 
    margin: 0 42.5%;
    padding: 50px 0;
    position: relative;
    top: 80px;
  /*  left: 32%; */
    overflow: hidden;
}

li {
    display: inline;
}
.search-bar {
    position: relative;
    padding: 50px 220px;
    margin: 50px auto ;
    position: relative;
    text-align: center;
    left: 20px;
    bottom:40px;
}
.search-bar input[type=text] {
    width: 500px;
    padding: 12px;
    margin-top: -20px;
    margin-right: 16px;
    border: 1px solid;
    background: img("images/search-bar.png");
    border-bottom-style: inset;
    border-block-end-color: rgb(182, 182, 182);
    border-left-color: rgb(230, 230, 230);
    border-right-color: rgb(230, 230, 230);
    border-top-color: white;
    border-radius: 3px;
}
.search-bar input[type=text]:hover{
    border-block-end-color: rgb(201, 201, 201);
    border-left-color: rgb(201, 201, 201);
    border-right-color: rgb(201, 201, 201);


}
.search-bar input[type=submit] {
    box-sizing: border-box;
    width: 150px;
    height: 36px;
    line-height: 27px;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    border: 1px solid #f2f2f2;
    color: #757575;
    font-family: arial,sans-serif;
    font-weight: bold;
    padding: 0 auto;
    margin: 0px auto;
    position: relative;
    bottom: 50px;

}


.search-bar input[type=submit]:hover {
    border: 1px solid rgb(182, 182, 182);
    color: black;
}

.search-bar img {
    position: relative;
    right: 4%;
    top: 9px;
}

.country{
    font-family: arial,sans-serif;
    font-size: 15px;
    text-align: left;
    color: gray;
    margin: 13% auto 0px auto;
    padding: 10px 20px;
    border-top: 1px solid rgb(220, 220, 230);
}

.footer {
    font-family: arial,sans-serif;
    font-size: small ;
    color:gray;
    position: relative;
    bottom: 0%;
    border-top: 1px solid rgb(230, 230, 230);
}

.language-bar {
    position: relative;
    bottom: 170px;
    text-align: center;
    font-family: arial,sans-serif;
    font-size: 13px ;
    
}
.language-bar a{
    margin: auto 2px;
}

.language-bar a{
    color: blue;
}

.nav-bar {
    display:block;
    position: relative;
    top: 0px;
    right: 10px;
    width: 100%;
    font-family: arial,sans-serif;
    font-size: 13px;
    text-align: center;

}
 .right { 
    float: right;
    margin: 0 auto;
    padding: 10px 15px;
}
.nav-bar a {
    float: right;
    margin: 10px 0px 0px 0px;
    margin-top : 15px;
    vertical-align: baseline;
    align-content: center;
    height: 50px;
    width: 50px;
    padding: 5px;
}

.right {
    padding: 10px 20px;
}


a { color: black;
    text-decoration-line: none;
    height: 50px;
}

a:hover {
    text-decoration-line: underline;
   
}

.left {
    float: left;
    padding: 10px 20px;
    text-align: center;
}